mixin footerContent()
  +b.footerContent
    +e.col
      +e('h3').heading Who are we?
      +e('ul').content
        +e('li').item
          +e('a').link(href="#") About us
        +e('li').item
          +e('a').link(href="#") Our clients
        +e('li').item
          +e('a').link(href="#") Press Releases
        +e('li').item
          +e('a').link(href="#") Video Portfolio
        +e('li').item
          +e('a').link(href="#") Contact us
    +e.col
      +e('h3').heading How we work?
      +e('ul').content
        +e('li').item
          +e('a').link(href="#") Strategy
        +e('li').item
          +e('a').link(href="#") Creative
        +e('li').item
          +e('a').link(href="#") Media
        +e('li').item
          +e('a').link(href="#") eBooks & publishes
        +e('li').item
          +e('a').link(href="#") Press
    +e.col
      +e('h3').heading Terms & Policies
      +e('ul').content
        +e('li').item
          +e('a').link(href="#") FAQ
        +e('li').item
          +e('a').link(href="#") Terms & Conditions
        +e('li').item
          +e('a').link(href="#") Privacy Policy
    +e.col
      +e('h3').heading Social
      +e('ul').content
        +e('li').item
          +e('a').link(href="#") Facebook
        +e('li').item
          +e('a').link(href="#") Twitter
        +e('li').item
          +e('a').link(href="#") Tumblr
        +e('li').item
          +e('a').link(href="#") Instagram
