include ../services/services
mixin serviceContent()
  +b.serviceContent
    +e.leftCol
      +e('h2').header We believe research is a form of creating new knowledge.
      +e('p').text Our eBook explains all the essentials that you will require to get the valuation of your company to start sky rocketting!
      +e('a').link Download eBook
      +e('p').text Success starts by correcting your mistakes, and we’ll show you how! Watch our short video tutorial to avoid the five basic mistakes entrepreneurs do.
      +e('a').link Watch video
    +e.rightCol
      +services
