// Typography vars for styles

@import url(https://fonts.googleapis.com/css?family=Lato|Montserrat:700|Open+Sans:400,300,600,700,300italic);
$montserrat: 'Montserrat', Impact, Charcoal, sans-serif;
$openSans: 'Open Sans', Arial, Helvetica, sans-serif;
$Lato: 'Lato','Open Sans', Arial, Helvetica, sans-serif;
