mixin services()
  +b.services
   +e('ul').firstList
    +e('li').item
      +e.background
      +e('a').link._type_digitalSmall(href="#") Premium online and offline placements
    +e('li').item
      +e.background
      +e('a').link._type_global(href="#") Global promotions
    +e('li').item
      +e.background
      +e('a').link._type_data(href="#") DATA analysis
   +e('ul').secondList
    +e('li').item
      +e.background
      +e('a').link._type_scripts(href="#") scripting, production and post
    +e('li').item
      +e.background
      +e('a').link._type_creative(href="#") Creative expertise
    +e('li').item
      +e.background
      +e('a').link._type_development(href="#") Strategic development
