.content {
  width: 100%;
  min-width: 640px;
  max-width: 880px;
  margin: 0 auto;
  
}

.gamesList {
  margin-top: -85px;
  font-size: 0;
  text-align: center;
}

.game {
  position: relative;
  width: 198px;
  height: 140px;
  margin: 0 10px 38px;
  display: inline-block;
  border: 1px solid rgba(255,255,255,.41);
  background: linear-gradient(bottom, #31393f 0%, #9ea9b8 50%, #31393f 100%); 
  &__imageBox {
    width: 186px;
    height: 100px;
    border: 1px solid #959fa9;
    box-shadow: 0 1px 1px rgba(0,0,1,.75);
    position: absolute;
    top: 7px;
    left: 50%;
    margin-left: -94px;
    overflow: hidden;
    &:after {
      content: '';
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      background: rgba(0,0,0,0);
      z-index: 1;
      transition: background .5s;
    }
    &:hover {
      &:after {
        background: rgba(0,0,0,.7);  
      }
      .game__image {
        transform: translate(-50%, -50%) scale(1.2, 1.2);
      }
      .game__btn {
        transform: translateY(0);
      }
    }
  }
  &__image {
    position: absolute;
    min-width: 100%;
    min-height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: transform .5s;
  }
  &__name {
    text-align: center;
    color: #fff;
    font-size: 18px;
    text-shadow: 1px 1px 1px rgba(0,0,1,.75); 
    margin-top: 115px;
  }
  &__btn {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 129px;
    height: 42px;
    margin-top: -21px;
    margin-left: -68.5px; 
    border-radius: 5px; 
    box-shadow: 0 2px 1px #042149, inset 0 1px 0 rgba(255,255,255,.4), inset 0 0 0 1px rgba(255,255,255,.08); 
    background-image: linear-gradient(bottom, #4c38bc 0%, #0089ed 100%);
    color: #ffffff;
    font-size: 24px;
    font-weight: bold;
    text-shadow: 0 1px 1px rgba(0,0,1,.75);
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    line-height: 42px;
    z-index: 2;
    transform: translateY(-75px);
    transition: transform .5s;
  }
}

.feedbacks {
  padding: 26px 50px 56px;
  overflow: hidden;
  position: relative;
  &:before, &:after{
    content: '';
    display: block;
    position: absolute;
    left: 50%;
    margin-left: -416.5px;
    width: 833px;
    height: 21px;
    background: image-url('line.png') no-repeat;
  }
  &:before{
    top: 0;
  }
  &:after{
    bottom: 15px;
  }
  &__list{
    margin-top: 45px;
  }
}

.feedback {
  &__text {
    display: block;
    text-align: left;
    font-weight: bold;
    font-style: italic;
    font-size: 18px;
    line-height: 22px;
    color: #ffffff;

  }
  &__author {
    display: block;
    text-align: right;
    color: #a4b0ff;
    font-weight: bold;
    font-style: italic;
    font-size: 18px;
    line-height: 22px;
    margin-top: 5px;
    margin-bottom: 80px;
  }
  &:last-of-type{
    .feedback__author {
      margin-bottom: 0;
    }
  }
}


.benefits {

  &__list {
    margin-top: 60px;
    font-size: 0;
    text-align: center;
  }
}

.benefit {
  display: inline-block;
  width: 135px;
  text-align: center;
  margin: 0 20px;
  vertical-align: top;
  transform-style: preserve-3d;
  perspective: 300px;
  margin-top: 35px;
  &__icon {
    position: absolute;
    text-align: center;
    width: 132px;
    height: 132px;
    line-height: 132px;
    transition: transform 1s;
    &:before{
      background: image-url("round.png");
      content: '';
      display: block;
      width: 132px;
      height: 132px;
      position: absolute;
    }
    img {
      vertical-align: middle;
    }
  }
  &__link {
    text-decoration: none;
  }
  &__name {
    color: #aab9fb;
    font-size: 18px;
    vertical-align: top;
    margin-top: 140px;
  }
  &:last-of-type{
    margin-right: 0;
  }
  &:hover{
    .benefit__icon {
      transform: rotateY(360deg);
    }
  }
}