.footer {
  width: 100%;
  min-width: 640px;
  max-width: 1325px;
  margin: 0 auto;
  padding-bottom: 160px;
  position: relative;
  overflow: hidden;
  &__payicons{
    position: absolute;
    margin-left: -482.5px;
    background: image-url("payicon.png") no-repeat;
    width: 965px;
    height: 53px;
    left: 50%;
    bottom: 30px;
  }
}