include ../../../node_modules/bemto.jade/bemto.jade
include ../page/page
include ../header/header
include ../headerContent/headerContent
include ../footer/footer
include ../footerContent/footerContent
include ../content/content
include ../container/container

doctype html
html(lang='ru')
  include ../head/head
  +page
    +header
      +headerContent
    +content
      block content
    +footer
      +footerContent
    script(type="text/javascript" src="js/app.min.js")
