mixin topContent()
  +b('ul').topContent
    +e('li').item
      +e('h3').heading._type_digital Digital
      +e('p').text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam vitae nulla quis turpis cursus pharetra.
    +e('li').item
      +e('h3').heading._type_creative Creative
      +e('p').text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam vitae nulla quis turpis cursus pharetra.
    +e('li').item
      +e('h3').heading._type_media Media
      +e('p').text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam vitae nulla quis turpis cursus pharetra.
