include ../social/social

mixin footerContent()
  +b.footerContent
    +e.logo
    +e('ul').contacts
      +e('li').contact ИНН 7017330440
      +e('li').contact
        a(href="tel:+78005555933") 8-800-5555-933
      +e('li').contact
        a(href="mailto:info@supl.biz") info@supl.biz
    +e('ul').links
      +e('li').link
        a(href="#") О нас
      +e('li').link
        a(href="#") Связаться с нами
      +e('li').link
        a(href="#") Q&A
      +e('li').link
        a(href="#") Условия использования
      +e('li').link
        a(href="#") Реквизиты ООО Сапл-биз
    +social
    +e('p').description
      | Бесплатная электронная торговая площадка для малого бизнеса. Может использоваться в 
      | качестве канала сбыта. Подходит для поиска поставщиков и закупки товаров. Удобна для 
      | реализации товаров и услуг. Упрощает продажи в регионы.
    +e('p').keywords
      | Конкурсы, аукционы, тендеры, котировки. Поиск покупателей, заказчиков, поставщиков. 
      | Малый и средний бизнес, микробизнес, ИП. Товары, услуги, работы, продукты, продукция.
      | Отзывы.
  // end footerContent block
        
