include ../btn/btn

mixin lots()
  +b('table').lots
    +e('thead').header
      tr
        +e('th').product Товар
        +e('th').vendor Продавец
        +e('th').quantity Общее кол-во (кг)
        +e('th').min Мин. партия (кг)
        +e('th').caliber Калибр (см)
        +e('th').price Цена (р/кг)
        +e('th').region Регион
        +e('th').rates Ставки
        +e('th').button 
    +e('tbody').content
      each val in [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
        tr
          +e('td').product 
            a(href="#") Лук репчатый
            +btn({"label":"Сделать ставку", "location":"lots", "href":"#"})
          +e('td').vendor  Пархоменко А.М.
          +e('td').quantity 20 000
          +e('td').min 200
          +e('td').caliber 15
          +e('td').price 45
          +e('td').region Волгоградская обл.
          +e('td').rates 35
          +e('td').button  
            +btn({"label":"Сделать ставку", "location":"lots", "href":"#"})
  // end lots block
         
