$logoColor: #f3975e;
$tradeStatusColor: #7ba934;
$tradeStatusCloseColor: #cf3e3e;
$headerdBorder: #d3aea7;
$footerBorder: #f3975e;
$footerColor: #5a5a5a;
$tabActiveColor: #ffffff;
$tabActiveBGColor: #f3975e;
$tabBorderColor: #f3e9e7;
$tabColor: #000000;
$tabBGColor: linear-gradient(to top, #e3e3e3,  #ffffff 35%);
$tabHoverBGColor: linear-gradient(to top,  #ffffff 35%, #e3e3e3);
$tabBGColorFB: #ffffff;
$tabUnderlineColor: #f3975e;
$moreLotsColor: #ffffff;
$moreLotsBGColor: linear-gradient(to top, #ffae01, #f3975e);
$moreLotsBGColorFB: #f3975c;
$tableBGColor:#ffffff;
$tableColor: #484848;
$tableHeaderBGColor:#838383;
$tableHeaderColor:#ffffff;
$tableHoverBGcolor: #fff1e6;
$tableBorderColor: #e9d6d2;
$tableBottomBorderColor: #f3985b;
$tableShadowColor: #e1d4cb;
$buttonBGColor: #d0d0d0;
$buttonColor: #ffffff;
$buttonHoverBGColor: #ffffff;
$buttonHoverBGColor: linear-gradient(to top, #ffae01, #f3975e);
$buttonHoverBGColorFB: #f3975e;
$buttonHoverborder: #d48520;
$timeColor: #000000;
$workTimeColor: #000000;
$loginButtonColor: #ffffff;
$loginButtonBGColor: linear-gradient(to top, #ffae01, #f3975e);
$loginButtonBGColorFB: #f3975e;
$regButtonColor: #ffffff;
$regButtonBGColor: linear-gradient(to top, #f3975e, #ffae01);
$regButtonBGColorFB: #f3975e;
$socialColor: #ffffff;
$socialBGColor: #777777;
