html{
  font-size: 10px;
}


$logoFont:  600 2.1rem Geometria, Verdana, Geneva, sans-serif;
$tradeStatusFont: 1.4rem "Arial Black", Gadget, sans-serif;
$footerFont: 'Open Sans', Arial, Helvetica, sans-serif;
$tabFont:  600 1.8rem Geometria, Verdana, Geneva, sans-serif;
$moreLotsFont: 1.4rem "Arial Black", Gadget, sans-serif;
$tableHeaderFont: 600 1.4rem/1.8rem Geometria, Verdana, Geneva, sans-serif;
$tableFont: 600 1.2rem/1.8rem Geometria, Verdana, Geneva, sans-serif;
$buttonFont:  700 1.3rem CenturyGothic, Arial, Helvetica, sans-serif;
$timeFont: 1.5rem CenturyGothic, Arial, Helvetica, sans-serif;
$workTimeFont: 700 1.6rem CenturyGothic, Arial, Helvetica, sans-serif;
$loginButtonFont: 700 1.4rem CenturyGothic, Arial, Helvetica, sans-serif;
$regButtonFont: 700 1.4rem CenturyGothic, Arial, Helvetica, sans-serif;
