/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

html {
  line-height: 1; }

ol, ul {
  list-style: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

q, blockquote {
  quotes: none; }
  q:before, q:after, blockquote:before, blockquote:after {
    content: "";
    content: none; }

a img {
  border: none; }

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block; }

@keyframes slider__item_fadeOut {
  from {
    transform: translateX(0);
    z-index: 0; }
  to {
    transform: translateX(-100%);
    z-index: 0; } }
@keyframes slider__item_fadeIn {
  from {
    transform: translateX(100%);
    z-index: 1; }
  to {
    transform: translateX(0);
    z-index: 1; } }
@font-face {
  font-family: "Mensch";
  src: url('../fonts/mensch-wf.eot?1310974762');
  src: url('../fonts/mensch-wf.eot?&1310974762#iefix') format('embedded-opentype'), url('../fonts/mensch-wf.woff?1310974762') format('woff'), url('../fonts/mensch-wf.ttf?1310974762') format('truetype'), url('../fonts/mensch-wf.svg?1310974762') format('svg'); }
@font-face {
  font-family: "Mensch";
  src: url('../fonts/mensch-bold-wf.eot?1310974740');
  src: url('../fonts/mensch-bold-wf.eot?&1310974740#iefix') format('embedded-opentype'), url('../fonts/mensch-bold-wf.woff?1310974740') format('woff'), url('../fonts/mensch-bold-wf.ttf?1310974740') format('truetype'), url('../fonts/mensch-bold-wf.svg?1310974740') format('svg');
  font-weight: bold; }
.page {
  background: repeating-linear-gradient(45deg, #c2d9da 1px, transparent 2px, transparent 7px), repeating-linear-gradient(135deg, #c2d9da 1px, transparent 2px, transparent 7px), #a7c7c9; }

.container {
  width: 980px;
  margin: 0 auto;
  -moz-box-shadow: 0 0 3px rgba(0, 0, 0, 0.22);
  -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.22);
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.22);
  background: url('../images/container_bg.png?1455991413') #ece9d6; }

.social {
  width: 100%;
  height: 59px;
  line-height: 59px;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=15);
  opacity: 0.15;
  background-color: #4d4d4d;
  border-top: 1px solid #f6f5ec;
  border-bottom: 1px solid #f6f5ec;
  text-align: center;
  font-size: 0; }
  .social__item {
    vertical-align: middle;
    width: 32px;
    height: 32px;
    display: inline-block;
    margin-right: 14px; }
    .social__item:last-of-type {
      margin-right: 0; }
  .social__link {
    display: block;
    width: 100%;
    height: 100%; }
    .social__link_type_fb {
      background: url('../images/social__icon_fb.png?1455989031'); }
    .social__link_type_tw {
      background: url('../images/social__icon_tw.png?1455989078'); }
    .social__link_type_dr {
      background: url('../images/social__icon_dr.png?1455989067'); }
    .social__link_type_ab {
      background: url('../images/social__icon_ab.png?1455989051'); }

.logo {
  background: url('../images/Halftone.png?1455993027') 50% 50% no-repeat;
  width: 942px;
  height: 183px;
  display: block;
  border-bottom: 3px solid #9a998f;
  margin: 0 auto; }

.navBar {
  width: 942px;
  height: 76px;
  border-top: 1px solid #9a998f;
  border-bottom: 1px solid #9a998f;
  line-height: 76px;
  margin: 3px auto 0 auto;
  text-align: center; }
  .navBar__item {
    display: inline-block;
    margin-right: 50px;
    vertical-align: middle;
    height: 36px;
    line-height: 36px;
    position: relative; }
    .navBar__item:last-of-type {
      margin-right: 0; }
    .navBar__item_status_active {
      background: #e37655; }
      .navBar__item_status_active .navBar__link {
        color: #ffffff; }
        .navBar__item_status_active .navBar__link:hover {
          text-decoration: none;
          cursor: default; }
      .navBar__item_status_active:before, .navBar__item_status_active:after {
        content: "";
        position: absolute;
        border: 18px solid #e37655;
        border-left-width: 6px;
        border-right-width: 6px; }
      .navBar__item_status_active:before {
        border-left-color: transparent;
        left: -12px; }
      .navBar__item_status_active:after {
        border-right-color: transparent; }
  .navBar__link {
    color: #4d4d4d;
    font-family: "Mensch";
    font-size: 24px;
    text-shadow: 0 1px 0 #fff;
    text-decoration: none; }
    .navBar__link:hover {
      text-decoration: underline; }

.slider {
  margin-top: 22px;
  width: 100%; }
  .slider__input {
    display: none; }
  .slider__itemList {
    margin-left: -10px;
    font-size: 0;
    width: 1000px;
    height: 455px;
    overflow: hidden;
    display: block;
    position: relative;
    background: url('../images/slider_shadow.png?1456034104') 50% 100% no-repeat; }
    .slider__itemList:before, .slider__itemList:after {
      content: "";
      position: absolute;
      display: block;
      border: 5px solid transparent;
      border-top-color: #4d4d4d;
      top: 435px; }
    .slider__itemList:before {
      border-right-color: #4d4d4d;
      left: 0; }
    .slider__itemList:after {
      border-left-color: #4d4d4d;
      right: 0; }
  .slider__item {
    position: absolute;
    top: 0;
    left: 0;
    transform: translateX(100%);
    display: inline-block;
    z-index: 0;
    animation: slider__item_fadeIn .8s  ease-out;
    background: #b0b68d; }
  .slider__nav {
    text-align: center; }
  .slider__navItem {
    display: inline-block;
    margin-right: 8.5px; }
    .slider__navItem:last-of-type {
      margin-right: 0; }
  .slider__label {
    display: block;
    width: 27px;
    height: 27px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    -moz-background-clip: padding;
    -o-background-clip: padding-box;
    -webkit-background-clip: padding;
    background-clip: padding-box;
    background-color: rgba(77, 77, 77, 0.15);
    -moz-box-shadow: 0 1px 0 #fefefe, inset 0 1px 0 rgba(0, 0, 0, 0.25);
    -webkit-box-shadow: 0 1px 0 #fefefe, inset 0 1px 0 rgba(0, 0, 0, 0.25);
    box-shadow: 0 1px 0 #fefefe, inset 0 1px 0 rgba(0, 0, 0, 0.25);
    position: relative; }
    .slider__label:before {
      content: "";
      display: block;
      width: 0px;
      height: 0px;
      -moz-border-radius: 50%;
      -webkit-border-radius: 50%;
      border-radius: 50%;
      -moz-background-clip: padding;
      -o-background-clip: padding-box;
      -webkit-background-clip: padding;
      background-clip: padding-box;
      background: #e37655;
      position: absolute;
      top: 50%;
      left: 50%;
      margin-top: 0;
      margin-left: 0;
      transition: all .3s; }
  .slider__input:checked:nth-of-type(1) ~ .slider__itemList .slider__item:nth-of-type(1), .slider__input:checked:nth-of-type(2) ~ .slider__itemList .slider__item:nth-of-type(2), .slider__input:checked:nth-of-type(3) ~ .slider__itemList .slider__item:nth-of-type(3) {
    transform: translateX(0);
    z-index: 1;
    animation: slider__item_fadeOut .8s ease-in; }
  .slider__input:checked:nth-of-type(1) ~ .slider__nav > .slider__navItem:nth-of-type(1) > .slider__label:before, .slider__input:checked:nth-of-type(2) ~ .slider__nav > .slider__navItem:nth-of-type(2) > .slider__label:before, .slider__input:checked:nth-of-type(3) ~ .slider__nav > .slider__navItem:nth-of-type(3) > .slider__label:before {
    width: 17px;
    height: 17px;
    margin-top: -8.5px;
    margin-left: -8.5px; }

.heading {
  color: #4d4d4d;
  font-family: "Mensch";
  font-size: 48px;
  text-shadow: 1px 2px 0 rgba(77, 77, 77, 0.52);
  text-align: center;
  text-transform: uppercase;
  width: 100%;
  padding-top: 40px;
  padding-bottom: 60px;
  position: relative;
  background: url('../images/heading_star.png?1456037600') 50% 100% no-repeat; }
  .heading:before, .heading:after {
    content: "";
    position: absolute;
    display: block;
    border-top: 2.5px solid #9b9a90;
    border-bottom: .5px solid #9b9a90;
    width: 448px;
    height: 2.5px;
    bottom: 5.5px; }
  .heading:before {
    left: 20px; }
  .heading:after {
    right: 20px; }

.eventsList {
  font-size: 0;
  text-align: center;
  margin-top: 18px;
  display: table;
  padding-right: 20px;
  padding-left: 20px; }

.event {
  display: table-cell;
  vertical-align: top;
  padding-right: 18px;
  position: relative; }
  .event:last-of-type {
    padding-right: 0; }
  .event__image {
    -moz-box-shadow: 0 0 3px rgba(0, 0, 0, 0.33);
    -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.33);
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.33);
    width: 301px;
    height: 355px; }
  .event__date {
    width: 70px;
    height: 70px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    -moz-background-clip: padding;
    -o-background-clip: padding-box;
    -webkit-background-clip: padding;
    background-clip: padding-box;
    background-color: #e37555;
    -moz-box-shadow: 1px 2px 0 rgba(77, 77, 77, 0.75);
    -webkit-box-shadow: 1px 2px 0 rgba(77, 77, 77, 0.75);
    box-shadow: 1px 2px 0 rgba(77, 77, 77, 0.75);
    color: #efecd9;
    font-family: "Mensch";
    font-size: 24px;
    position: relative;
    margin: 0 auto;
    top: -35px;
    padding: 10px;
    text-align: center;
    box-sizing: border-box; }
  .event__name {
    color: #4d4d4d;
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 16px;
    width: 301px;
    text-transform: uppercase;
    margin-top: -30px;
    padding: 15px;
    border-bottom: .5px solid #888888;
    box-sizing: border-box; }
  .event__tags {
    margin-top: 15px;
    display: block; }
  .event__tag {
    display: inline; }
    .event__tag:last-of-type .event__tagLink:after {
      content: ""; }
  .event__tagLink {
    color: #878787;
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 12px;
    text-decoration: none; }
    .event__tagLink:after {
      content: ", "; }

.news {
  width: 100%;
  margin-top: 50px;
  background: #e37555;
  text-align: center;
  padding: 25px;
  box-sizing: border-box;
  font-family: Tahoma, Geneva, sans-serif;
  position: relative; }
  .news:before, .news:after {
    content: "";
    position: absolute;
    border: 45px solid #e37655;
    top: -37px; }
  .news:before {
    border-left-width: 35px;
    border-right-width: 20px;
    border-left-color: transparent;
    left: -55px; }
  .news:after {
    border-right-color: transparent;
    border-left-width: 20px;
    border-right-width: 35px;
    right: -55px; }
  .news__time {
    color: #4d4d4d;
    font-size: 12px; }
  .news__text {
    font-size: 16px;
    color: #fefefe;
    margin-top: 5px; }
    .news__text a {
      color: #fdd600;
      text-decoration: none; }
      .news__text a:hover {
        text-decoration: underline; }

.footer {
  font-size: 0;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0) 40px, rgba(0, 0, 0, 0) 100%), repeating-linear-gradient(45deg, #323232 1px, transparent 2px, transparent 7px), repeating-linear-gradient(135deg, #323232 1px, transparent 2px, transparent 7px), #3b3b3b;
  padding-top: 50px; }
  .footer__col {
    display: inline-block;
    vertical-align: top;
    width: 22.448%;
    margin-right: 2.04%; }
    .footer__col:last-of-type {
      margin-right: 1.938%; }
    .footer__col:first-of-type {
      margin-left: 1.938%; }
  .footer__heading {
    color: #e7e5d1;
    font-family: "Mensch";
    font-size: 24px;
    margin-bottom: 25px;
    text-align: center;
    border-bottom: 1px solid #605f5b;
    border-bottom: 1px solid rgba(77, 77, 77, 0.9); }
  .footer__text {
    color: #e7e5d1;
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 14px;
    line-height: 20px; }

.post__name {
  color: #e7e5d1;
  font-family: Tahoma, Geneva, sans-serif;
  font-size: 14px;
  text-decoration: none;
  display: block;
  margin-top: 30px; }
  .post__name:hover {
    text-decoration: underline; }
.post__date {
  color: #878473;
  font-family: Tahoma, Geneva, sans-serif;
  font-size: 14px;
  margin-top: 8px; }

.arhive__item {
  padding-bottom: 10px;
  border-bottom: 1px solid #605f5b;
  border-bottom: 1px solid rgba(77, 77, 77, 0.9);
  margin-top: 12px; }
.arhive__link {
  color: #e7e5d1;
  font-family: Tahoma, Geneva, sans-serif;
  font-size: 14px;
  text-decoration: none; }
  .arhive__link:hover {
    text-decoration: underline; }
.arhive__count {
  color: #878473; }
  .arhive__count:before {
    content: " ("; }
  .arhive__count:after {
    content: ")"; }

.search__input {
  display: inline-block;
  width: 220px;
  height: 43px;
  background-color: #efebd9;
  border: none;
  outline: none;
  margin-top: 12px;
  font-family: Tahoma, Geneva, sans-serif;
  font-size: 14px;
  padding-left: 7px;
  padding-right: 50px;
  box-sizing: border-box; }
.search__icon {
  position: relative;
  display: inline-block;
  height: 43px;
  width: 43px;
  top: -43px;
  left: 177px;
  border-left: 1px solid #c1bfb2;
  background: url('../images/seacrh_icon.png?1456067660') 50% 50% no-repeat; }

.copyrigth {
  width: 100%;
  height: 72px;
  background-color: #4d4d4d;
  margin-top: 45px;
  position: relative;
  padding-top: 28px;
  text-align: center;
  -moz-box-shadow: 0 -1px 0 rgba(255, 255, 255, 0.2);
  -webkit-box-shadow: 0 -1px 0 rgba(255, 255, 255, 0.2);
  box-shadow: 0 -1px 0 rgba(255, 255, 255, 0.2);
  box-sizing: border-box; }
  .copyrigth__text {
    color: #f1f1f1;
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 14px; }
  .copyrigth__link {
    text-decoration: none;
    color: #fdd600; }
    .copyrigth__link:hover {
      text-decoration: underline; }

.upToTop {
  position: absolute;
  display: block;
  width: 35px;
  height: 35px;
  -moz-border-radius: 18px 18px 0 0;
  -webkit-border-radius: 18px;
  border-radius: 18px 18px 0 0;
  -moz-background-clip: padding;
  -o-background-clip: padding-box;
  -webkit-background-clip: padding;
  background-clip: padding-box;
  -moz-box-shadow: 0 -1px 0 rgba(255, 255, 255, 0.31);
  -webkit-box-shadow: 0 -1px 0 rgba(255, 255, 255, 0.31);
  box-shadow: 0 -1px 0 rgba(255, 255, 255, 0.31);
  background: url('../images/arrow.png?1456058739') 50% 12px no-repeat #4d4d4d;
  top: -13px;
  left: 50%;
  margin-left: -17.5px; }
