mixin introContent()
 +b('ul').introContent
  +e('li').item
    +e('h2').header why us?
  +e('li').item
    +e('h3').heading._type_digital Digital strategy?
    +e('p').text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam vitae nulla quis turpis cursus pharetra.
      +e('a').link(href="#") Read more
  +e('li').item
    +e('h3').heading._type_video Need a video?
    +e('p').text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam vitae nulla quis turpis cursus pharetra.
      +e('a').link(href="#") Read more
  +e('li').item
    +e('h3').heading._type_solution Full solution
    +e('p').text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam vitae nulla quis turpis cursus pharetra.
      +e('a').link(href="#") Read more
