mixin social()
  +b('ul').social
    +e('li').item
      +e('a').link(href="#")
        i.fa.fa-facebook
    +e('li').item
      +e('a').link(href="#")
        i.fa.fa-linkedin
    +e('li').item
      +e('a').link(href="#")
        i.fa.fa-vk
    +e('li').item
      +e('a').link(href="#")
        i.fa.fa-odnoklassniki
  // end social block
